---
layout: page
title: "About"
description: "Hey, this is Nian Tianlei."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>万丈高楼平地起，辉煌只能靠自己，<br>
    </p></blockquote>

    <p>Hello！！我是<strong>念天磊</strong>. 目前在天津大学读硕士研究生，喜欢聊天、读书、看电影、台球，最爱看足球和踢足球。现在是学习阶段，研究方向是欠采样宽带谱感知，但是我比较喜欢编写程序，正在学习Java web。</p>

    <p>爱听音乐，但不会唱。爱看书，但大多是买。善于钻研。</p>
    
    
    

   
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Life lies in diligence, no gains without pains.
    </blockquote>

    <p>Hi, I am <strong>Nian Tianlei(念天磊)</strong>，Currently, I, a graduate student of Tianjin University, like chatting, reading, watching movies, billiards whose favorite sport is football. With learning stage, my research area is co-prime spectrum sensing. However I prefer to write programs so I'm learning Java web now.
    </p>

    <p>
    I'm good at making friends and research.
    </p>  

</div>



大二，代表学院足球队（后卫）获得学校亚军。  
之前喜欢玩《英雄联盟》，大二暑假的一个月在一个软件上接单子，赚了大约六千。之后，因为将面临保研，为节省时间努力学习，就不再玩游戏了。    

<hr />
<br><br><br>



<h3>个人总结：</h3>
<h4>2017</h4>
<ul>
	<li>2016年-2017年3月，巩固Javase基础，读完了《Thinking in Java》的中本版、《疯狂Java讲义精粹》、《Java核心技术 卷1》等Java基础书籍，之后在菜鸟教程也学习过Java，复习一遍。
	</li>
	<li>
		4-5月，当时对前端技术比较感兴趣，学习了《Head First HTML与CSS》、《锋利的jQuery》、《JavaScript高级程序设计》等基础，模仿淘宝做了一个<a href="https://github.com/niantianlei/taobaoyemian" style="color: #00f;text-decoration: underline">静态页面</a>，大概有六七千的代码量，动作效果基本全部实现。
	</li>
	<li>
		5-8月，先后读了多遍《算法》、《数据结构与算法分析》，对数据结构、算法及Java的理解更加深入，学完刷LeetCode，做了前300题的部分，<a href="https://github.com/niantianlei/The-answer-of-LeetCode" style="color: #00f;text-decoration: underline">总结的答案</a>。<br>  
        读《深入理解Java虚拟机》对JVM的了解更加深入，读《Java多线程编程核心技术》和《Java并发编程的艺术》更加了解多线程相关知识。
        6月发了一篇《Digital Signal Processing》（三区）。
	</li>
	<li>
		9-10月，看了《MySQL必知必会》和《高性能MySQL》优化部分。<br>  
		国庆放假前把之前写的三篇专利全部发出去了，国庆节用了几个整天把九月写的论文逐字逐句又整理修改一下，投了篇《电子与信息学报》。
	</li>
</ul>

<h4>2016</h4>
九月硕士入学，确定互联网求职的目标，但是当时不够坚定，总是被各种消息影响，耽误了大量学习时间。因为本科时也先后学过一段Java和c++，然后经过各种收集资料，询问打听，确定学习Java后端。





<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    
        data-thread-key="{{site.duoshuo_username}}/about"
    

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
